<% if devise_error_messages! %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
  	<%= alert = devise_error_messages! %>
	</div>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<br>
	<div class="well well-lg col-sm-6 col-sm-offset-3">
    <%= f.label :username, :class=>'sr-only' %>
    <%= f.text_field :username, autofocus: true, :class=>"form-control", :placeholder=>"Username", required: true %>
		<br>
    <%= f.label :first_name, :class=>'sr-only' %>
    <%= f.text_field :first_name, autofocus: true, :class=>"form-control", :placeholder=>"First Name", required: true %>
		<br>
    <%= f.label :last_name, :class=>'sr-only' %>
    <%= f.text_field :last_name, autofocus: true, :class=>"form-control", :placeholder=>"Last Name", required: true %>
		<br>
    <%= f.label :department, :class=>'sr-only' %>
    <%= f.select :department_id, Department.all.pluck(:name, :id) , {include_blank: '[Department]'}, :class=>"form-control", required: true %>
		<br>
    <%= f.label :position, :class=>'sr-only' %>
    <%= f.text_field :position, autofocus: true, :class=>"form-control", :placeholder=>"Position" %>
		<br>
    <%= f.label :email, :class=>'sr-only' %>
    <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"E-mail", required: true %>
		<br>
    <%= f.label :password, :class=>'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Password", required: true %>
		<br>
    <%= f.label :password_confirmation, :class=>'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder=>"Re-Enter Password", required: true %>
		<br>
    <%= f.submit "Sign up", :class=>"btn btn-primary btn-block" %>
		<br>
		<center><small>Already have an acount?</small></center>
		<center><%= link_to 'Log in', new_user_session_path, :class=>"btn btn-primary btn-block" %></center>
	</div>
<% end %>
