<div class = "container-fluid">
	<br />
	<span class="form-inline">
		<%= search_form_for @q do |f| %>
		  <%= f.label "Name", :class => "sr-only" %>
		  <%= f.search_field :full_name_cont, :class => "form-control input-sm", :placeholder=>"Name"%>

		  <%= f.label "Position", :class => "sr-only "%>
		  <%= f.search_field :position_cont, :class => "form-control input-sm", :placeholder=>"Position" %>

		  <%= f.label "Department", :class => "sr-only" %>
		  <%= f.select :department_id_eq, Department.order('name desc').reverse_order.all.pluck(:name, :id), {include_blank: '--'}, :class => "form-control input-sm", :placeholder => "Department"%>
	
			<%= f.submit "Search", :class => "btn btn-primary btn-sm" %>
		<% end %>
	</span>
	
	<% a = sort_url(@q, :last_name)%>
	<% b = sort_url(@q, :first_name)%>
	<% c = sort_url(@q, :department)%>
	<% d = sort_url(@q, :position)%>
	<% e = sort_url(@q, :email)%>
	
	
	<%= react_component("UserList", a: a, b: b, c: c, d: d, e: e, users: @users.order( "department_id" ).as_json(include: :department )) %>
  <center><%= page_entries_info @users %><br/>
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %></center>
</div>