<div class = "container-fluid">
	<br>

	<%= search_form_for @q do |f| %>
		<div class="form-inline">
		  <%= f.label "Name", :class => "sr-only" %>
		  <%= f.search_field :full_name_cont, :class => "form-control input-sm", :placeholder=>"Name"%>

		  <%= f.label "Position", :class => "sr-only "%>
		  <%= f.search_field :position_cont, :class => "form-control input-sm", :placeholder=>"Position" %>

		  <%= f.label "Department", :class => "sr-only" %>
		  <%= f.select :department_id_eq, Department.all.pluck(:name, :id), {include_blank: '[Department]'}, :class => "form-control input-sm", :placeholder => "Department"%>

		  <%= f.submit "Search", :class => "btn btn-primary btn-sm" %>
		</div>
	<% end %>

	<%= react_component("UserList", users: @users.as_json(include: :department)) %>
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>