<br>
<div class="col-lg-8 col-lg-offset-2">
	<div class="well well-lg">
		<font size="8px"><strong><%= @department.name %></strong></font>
		<table class="table table-striped">
			<% @users.each do |user| %>
				<tr><td><%= link_to "#{user.last_name}, #{user.first_name}", user_path(user.id)%></td></tr>
			<% end %>
		</table>
		<%= link_to 'Edit', edit_department_path(@department), :class => "btn btn-primary btn-block"%>
		<%= link_to 'Destroy', @department, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block" %>
		<center><%= link_to 'Back to Departments', departments_path %></center>
	</div>
</div>