<table>
	<tr>
		<td>
			<table>
				<tr><td><%= image_tag post.user.avatar.url(:thumb) %></td></tr>
				<tr><td><%= post.user.first_name %> <%= post.user.last_name %></td></tr>
				<tr><td><%= post.user.department.name ? post.user.department.name : "" %></td></tr>
				<tr><td><%= post.created_at.strftime('%I:%M%p, %d %b, \'%y') %></td></tr>
			</table>
		</td>
		<td>
			<table>
				<%= post.content %>
			</table>
		</td>
	</tr>
</table>