<p id="notice"><%= notice %></p>

<%= render 'form' %>
<br>

<%= react_component('PostList', posts: @posts.as_json(include: :user)) %>
<!-- ##
<%= render @posts %> -->
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>