<!DOCTYPE html>
<html>
  <head>
    <title>StaffList</title>
		<% if user_signed_in? %>
		<div class="container-fluid" padding-right: 20px>
			<div class="text-right col-md-6 col-md-offset-6">
				<br>
				<%= link_to 'Users', users_path %> |
				<%= link_to 'Departments', departments_path %> |
				<%= link_to 'Newsfeed', posts_path %> |
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			</div>
		</div>
		<hr>
		<% end %>
    <%= csrf_meta_tags %>
		<% if alert %>
		<p class = "alert"><%= alert %></p>
		<% end %>
		<% if notice %>
		<p class="notice"><% notice %></p>
		<% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
